:root {
    --backgroud-color: #e6d6bd;
    --hightlight-color: #d8a47f;
    --header-background: #e6d6bd;
    --header-color: rgb(58, 42, 145);
    --lightbackground-color: rgb(240, 240, 223);
    --standard-border-radius: 15px 15px 0 0;
  }

* {
    font-family: ’Lato’, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: var(--hightlight-color);
  }

h1 {
    font-family: cursive;
    font-size: 2rem;
    margin-bottom: 10px;
  }

header {
    padding :30px;
    background: var(--header-background);
    color: var(--header-color);
    text-align: center;
    text-shadow: 5px 5px 10px rgb(10, 11, 9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  } 

a {
    text-decoration: none;
    color: inherit;
  }

nav {
    display: flex;
    background-color: #d8a47f;
    border-radius: 15px 15px 15px 15px;
    width: auto;
    margin-top: 22px;
    margin-inline: auto;
  }

nav a {
    color: var(--header-background);
    text-decoration: none;
    text-align: auto;
    /* display: flex; */
    margin: 0 30px 0 30px;
  }

nav a:hover {
    background-color: var();
  }

.navbar-title {
    /* display: block; */
    width:auto;
    height: 40px;
    padding: 12px 0 0;
    background: none;
    text-align: center;
    color: #ffffff;
    font-weight:normal;
    text-shadow: 5px 5px 10px rgb(10, 11, 9);
    transition: 0.3s background-color;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
  }

.navbar-dropdown {
    min-width: 100%;
    padding: 15px 0;
    position: relative;
    background: none;
    z-index: 100;
    transition:
      0.5s padding,
      0.5s background;
      color:var(--header-color);
      text-align: center;
}

.navbar:not(:hover) > .navbar-dropdown {
    padding: 4px 0;
    background:none;
    z-index: 99;
  }

.navbar-dropdown > * {
    overflow: hidden;
    height: 30px;
    padding: 5px 10px;
    background: rgba(0,0,0,0);
    white-space: nowrap;
    transition:
      0.5s height cubic-bezier(.73,.32,.34,1.5),
      0.5s padding cubic-bezier(.73,.32,.34,1.5),
      0.5s margin cubic-bezier(.73,.32,.34,1.5),
      0.5s 0.2s color,
      0.2s background-color;
  }

.navbar-dropdown > *:hover {
    background: rgba(236, 232, 232, 0.165);
    border-radius: 15px;
  }

.navbar:not(:hover) > .navbar-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    color:  rgba(165, 155, 155, 0.469);
    transition:
      0.5s 0.1s height,
      0.5s 0.1s padding,
      0.5s 0.1s margin,
      0.3s color,
      0.6s visibility;
    z-index: 99;
  }

  /* main */
.menu {
    flex: 1;
    background-color: var(--alternate-color);
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.menutitle{
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bolder;
    border-radius: var(--standard-border-radius);
  }

.menu-content1{
    left: 5px;
    bottom:12%;
    border-style:dotted;
    border-width: 1px;
    padding: 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 10%;
    width: 25%;
    min-height: 100%;
  }

.menu-content1 img {
  margin: 35px;
  width:80%;
  height: 20%;
  max-width: 100%;
  max-height: 100%;
  border: 6px groove rgb(234, 222, 222);

}

.menu-content2{
    right: 5px;
    bottom:12%;
    border-style:dotted;
    border-width: 1px;
    padding: 5px;
    box-shadow: 10px 10px 5px #aaaaaa;
    margin-bottom: 10%;
    width: 70%;
  }

.menu-content2 img{
    margin: 0;
    margin-left: 40px;
    margin-top: 3px;
    width:auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border: 6px groove rgb(234, 222, 222);

  }

main p {
    margin: 50px 10px 0 10px;
    text-align: justify;
    line-height:30px;
    font-style: oblique;
  }

.work-content{
    margin-top: 5%;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 65vh;
    margin-left: 5%;
    margin-right: 5%;
    vertical-align: middle;
  }

.project {
    margin: 14px 0 0 20px;
    padding: 10px;
    border: 1px dotted black;
    color: var(--header-background);
    font-family: fantasy;
    font-weight: bolder;
    text-shadow: 8px -5px 4px  rgb(182, 182, 182);
    height: 25vh;
    max-width: 100%;
    max-height: 100%;
    min-width: 25vw;
  }

.project {
    margin-left: 5%;
    background-image: url("https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-size: cover;
  }

    /* project box change larger when hovering */
.project:hover {
    margin:5px;
    transform: scale(1.1,1.1);
  }

     /* glow effect */
.project .menu-header {
    border-radius: 8px;
    transition: all 0.5s ease-in-
    out;
  }
  
.project:hover,
.project:hover .menu-header {
    box-shadow: inset 0px 0px 25px
    var(--backgroud-color), 0 0 25px
    var(--hightlight-color);
  }

  /* footer */
footer {
    background-color: var(--backgroud-color);
    color: #bbb;
    line-height: 1.2;
  }

footer a {
    text-decoration: none;
    color: rgb(240, 240, 223);
  }

a:hover {
    text-decoration: underline;
  }

.ft-title {
    color: #fff;
    font-family: ’Merriweather’, serif;
    font-size: 1.2rem;
    padding-bottom: 0.625rem;
    font-style: oblique;
  }

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
  }

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem ;
  } 

.ft-info {
    background-color:var(--hightlight-color);
  }

.ft-info-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

.ft-info-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
  }

/* one before the last child */
.ft-info-list li:nth-last-child(2) {
flex: 1;      }

    @media screen and (max-width: 768px) {
      main,
      nav{
        flex-direction: column;
      }
    }

    @media screen and (max-width: 768px) {
      .menu{
        flex-direction: column;
      }
      .menu-content1{
        width: 100%;
      }
      .menu-content2{
        width: 100%;
      }
    }

    @media only screen and (min-width: 29.8125rem /*477px*/) {
      .ft-main {
          justify-content: space-around;
      }
    }
    @media only screen and (min-width: 77.5rem /*1240px*/ ) {
      .ft-main {
          justify-content: space-evenly;
      }
    }
