:root {
    --backgroud-color: #fbe2e2c3;
}

body {
    
}

h1 {

}

header {
    padding :40px;
    background: var(--backgroud-color);
    color:rgb(103, 12, 188);
    text-align: center;
}

nav {

}

nav a {

}