:root {
    --backgroud-color: #e6d6bd;
    --hightlight-color:#fbe2e2c3
}

body {
    
}

h1 {
    font-family: cursive;
    font-size: 2rem;
    margin-bottom: 10px;
}

header {
    padding :40px;
    background: var();
    color:rgb(103, 12, 188);
    text-align: center;
    width: 100%;
    text-shadow: 5px 5px 10px rgb(10, 11, 9);
}

nav {
    display: flex;
    background-color: #d8a47f;
    border-radius: 15px 0 15px 0;
    width: 50%;
    margin-top: 15px;
    margin-inline: auto;
}

nav a {
    padding: 14px 20px;
    
}